<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Heladería</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Lista de Productos</h2>
        <ul>
            {% for producto in productos %}
                <li>{{ producto.nombre }} - Precio: {{ producto.precio_publico }} - Calorías: {{ producto.calorias }}</li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('index') }}">Volver al Inicio</a>
    </div>
</body>
</html>
